@font-face {
    font-family: 'Titillium Web';
    src: url('../../../public/fonts/Titillium_Web/TitilliumWeb-Regular.ttf') format('truetype');
}

body {
    font-family: 'Titillium Web', sans-serif;
}

